$primary-color: #ffff;
$lineA: #4368af;
$lineB-color: #3e63a5;

.countryDetails {
  width: 100%;

  .cardDetails {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 20px;

    .detailsTop {
      display: flex;
      flex-direction: column;
      text-align: center;
      color: $primary-color;
    }

    .detailItem {
      color: $primary-color;
      background-color: $lineA;
    }

    .detailItem:nth-child(odd) {
      background-color: $lineB-color;
    }
  }
}
