$main-color: #4369b2;
$secondary-color: #ffff;

.header {
  background-color: $main-color;
  color: $secondary-color;

  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navHead {
      font-size: 1rem;
      margin: 0;
    }
  }

  .header-icons {
    display: flex;
    gap: 12px;
  }
}

.home-icon {
  color: $secondary-color;

  .home-icon:active {
    opacity: 0.5;
  }
}
